USE [ArimaERP]
GO
/****** Object:  Table [dbo].[ACCION]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCION](
	[ID_accion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_id_accion] PRIMARY KEY CLUSTERED 
(
	[ID_accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[ID_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[valor_nuevo] [varchar](2500) NOT NULL,
	[valor_anterior] [varchar](2500) NOT NULL,
	[ID_accion] [int] NOT NULL,
	[entidad_id] [int] NOT NULL,
	[usuario] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_AUDITORIA] PRIMARY KEY CLUSTERED 
(
	[ID_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[dni] [int] NOT NULL,
	[telefono] [bigint] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[ciudad] [varchar](20) NOT NULL,
	[provincia] [varchar](20) NOT NULL,
	[calle] [varchar](20) NOT NULL,
	[numero] [int] NOT NULL,
	[cod_postal] [int] NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[estado] [bit] NOT NULL,
	[razon_social] [varchar](20) NULL,
	[condicion_frenteIVA] [varchar](20) NOT NULL,
	[cuil_cuit] [bigint] NOT NULL,
	[apellido] [varchar](30) NOT NULL,
	[confiable] [bit] NOT NULL,
	[id_zona] [int] NOT NULL,
	[id_tamano] [int] NOT NULL,
 CONSTRAINT [PK_PRIMARY] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compra]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compra](
	[compra_id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[monto] [decimal](9, 1) NOT NULL,
	[nro_factura] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
 CONSTRAINT [pk_compra] PRIMARY KEY CLUSTERED 
(
	[compra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA_CORRIENTE]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA_CORRIENTE](
	[saldo_actual] [decimal](10, 2) NOT NULL,
	[fecha_ultimo_movimiento] [date] NOT NULL,
	[id_cliente] [int] NOT NULL,
 CONSTRAINT [PK_ID_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_compra]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_compra](
	[compra_id] [int] NOT NULL,
	[detalle_compra_id] [int] NOT NULL,
	[cantidad_bulto] [int] NOT NULL,
	[precio_unitario] [decimal](9, 1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[ID_presentacion] [int] NOT NULL,
 CONSTRAINT [pk_detalle_compra] PRIMARY KEY CLUSTERED 
(
	[compra_id] ASC,
	[detalle_compra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PEDIDO]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDO](
	[cantidad] [int] NULL,
	[descuento] [decimal](5, 2) NOT NULL,
	[ID_detalle_pedido] [int] NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[ID_presentacion] [int] NOT NULL,
	[cantidad_bultos] [int] NULL,
	[precio_unitario] [decimal](8, 1) NOT NULL,
 CONSTRAINT [PK_DETALLE_PEDIDO_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID_detalle_pedido] ASC,
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[nombre] [varchar](20) NOT NULL,
	[apellido] [varchar](20) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NULL,
	[dni] [int] NOT NULL,
	[telefono] [bigint] NOT NULL,
	[nombre_usuario] [varchar](20) NOT NULL,
 CONSTRAINT [pk_nombre_usuario] PRIMARY KEY CLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entidad]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entidad](
	[entidad_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [pk_entidad] PRIMARY KEY CLUSTERED 
(
	[entidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_PEDIDO]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_PEDIDO](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_id_estado_pedido] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAMILIA]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILIA](
	[id_familia] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NOT NULL,
 CONSTRAINT [PK_id_familia] PRIMARY KEY CLUSTERED 
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PK_ID_MARCA] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marca_proveedor]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca_proveedor](
	[id_marca] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
 CONSTRAINT [PK_id_marca_proveedor] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC,
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METODO_PAGO]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METODO_PAGO](
	[id_metodo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_id_metodo_pago] PRIMARY KEY CLUSTERED 
(
	[id_metodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[monto] [decimal](8, 2) NOT NULL,
	[fecha] [date] NOT NULL,
	[id_metodo] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
 CONSTRAINT [pK_ID_PAGO] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[fecha_entrega] [date] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
	[total] [decimal](8, 2) NOT NULL,
	[numero_factura] [int] NULL,
	[vendedor] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_pago]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_pago](
	[id_pedido] [int] NOT NULL,
	[id_pago] [int] NOT NULL,
	[saldo] [decimal](8, 1) NOT NULL,
 CONSTRAINT [PK_PEDIDO_PAGO] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC,
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESENTACION]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESENTACION](
	[ID_presentacion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_id_presentacion] PRIMARY KEY CLUSTERED 
(
	[ID_presentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[id_familia] [int] NOT NULL,
	[id_marca] [int] NOT NULL,
 CONSTRAINT [PK_ID_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_presentacion]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_presentacion](
	[id_producto] [int] NOT NULL,
	[ID_presentacion] [int] NOT NULL,
	[cod_producto] [int] NOT NULL,
	[precioLista] [decimal](8, 1) NOT NULL,
	[unidades_bulto] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_PRODUCTO_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC,
	[ID_presentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[provincia] [varchar](30) NOT NULL,
	[ciudad] [varchar](30) NOT NULL,
	[calle] [varchar](25) NOT NULL,
	[numero] [int] NOT NULL,
	[cod_postal] [int] NOT NULL,
	[cuit] [bigint] NOT NULL,
	[razon_social] [varchar](30) NOT NULL,
	[telefono] [bigint] NULL,
 CONSTRAINT [PK_ID_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](25) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_ID_ROL] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock](
	[stock_id] [int] IDENTITY(1,1) NOT NULL,
	[stock_actual] [int] NOT NULL,
	[umbral_stock] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[ID_presentacion] [int] NOT NULL,
 CONSTRAINT [pk_stock] PRIMARY KEY CLUSTERED 
(
	[stock_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAMAÑO_NEGOCIO]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAMAÑO_NEGOCIO](
	[id_tamano] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NOT NULL,
 CONSTRAINT [PK_id_tamano] PRIMARY KEY CLUSTERED 
(
	[id_tamano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[contraseña] [varchar](400) NOT NULL,
	[estado] [bit] NOT NULL,
	[id_rol] [int] NOT NULL,
	[nombre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_NOMBRE] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZONA]    Script Date: 10/11/2025 22:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONA](
	[id_zona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[preventista] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_ZONA] PRIMARY KEY CLUSTERED 
(
	[id_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCION] ON 

INSERT [dbo].[ACCION] ([ID_accion], [descripcion]) VALUES (1, N'Alta')
INSERT [dbo].[ACCION] ([ID_accion], [descripcion]) VALUES (2, N'Modificacion')
INSERT [dbo].[ACCION] ([ID_accion], [descripcion]) VALUES (3, N'Baja')
SET IDENTITY_INSERT [dbo].[ACCION] OFF
GO
SET IDENTITY_INSERT [dbo].[AUDITORIA] ON 

INSERT [dbo].[AUDITORIA] ([ID_auditoria], [fecha_hora], [valor_nuevo], [valor_anterior], [ID_accion], [entidad_id], [usuario]) VALUES (25, CAST(N'2025-11-02T18:45:41.073' AS DateTime), N'ID Pedido: 95, Fecha: 02/11/2025, Entrega: 02/11/2025, Cliente ID: 21, Total: $ 13.790,50, Vendedor: hugoAdministrador1', N'-', 1, 2, N'hugoAdministrador1')
INSERT [dbo].[AUDITORIA] ([ID_auditoria], [fecha_hora], [valor_nuevo], [valor_anterior], [ID_accion], [entidad_id], [usuario]) VALUES (26, CAST(N'2025-11-02T18:45:41.117' AS DateTime), N'Pedido ID: 95, Producto: 1, Presentación: 30, Cantidad: 5, Bultos: 0, Precio: $ 1.399,00, Descuento: 10 %', N'-', 1, 8, N'hugoAdministrador1')
INSERT [dbo].[AUDITORIA] ([ID_auditoria], [fecha_hora], [valor_nuevo], [valor_anterior], [ID_accion], [entidad_id], [usuario]) VALUES (27, CAST(N'2025-11-02T18:45:41.150' AS DateTime), N'Pedido ID: 95, Producto: 2, Presentación: 30, Cantidad: 5, Bultos: 0, Precio: $ 1.499,00, Descuento: 0 %', N'-', 1, 8, N'hugoAdministrador1')
GO
SET IDENTITY_INSERT [dbo].[AUDITORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([id_cliente], [nombre], [dni], [telefono], [email], [ciudad], [provincia], [calle], [numero], [cod_postal], [fecha_alta], [estado], [razon_social], [condicion_frenteIVA], [cuil_cuit], [apellido], [confiable], [id_zona], [id_tamano]) VALUES (12, N'Marcelo', 35678322, 3794651938, N'marcelo_jara@gmail.com', N'Capital', N'Corrientes', N'San Juan ', 1027, 3400, CAST(N'2025-10-11' AS Date), 1, N'', N'MONOTRIBUTISTA', 20356783221, N'Jara', 1, 9, 2)
INSERT [dbo].[CLIENTE] ([id_cliente], [nombre], [dni], [telefono], [email], [ciudad], [provincia], [calle], [numero], [cod_postal], [fecha_alta], [estado], [razon_social], [condicion_frenteIVA], [cuil_cuit], [apellido], [confiable], [id_zona], [id_tamano]) VALUES (13, N'Andrea Samanta', 35678387, 3794651939, N'andrea_lopez@gmail.com', N'Capital', N'Corrientes', N'Ing Virasoro', 2821, 3400, CAST(N'2025-10-31' AS Date), 1, N'', N'CONSUMIDOR FINAL', 27356783874, N'Giménez López', 0, 10, 1)
INSERT [dbo].[CLIENTE] ([id_cliente], [nombre], [dni], [telefono], [email], [ciudad], [provincia], [calle], [numero], [cod_postal], [fecha_alta], [estado], [razon_social], [condicion_frenteIVA], [cuil_cuit], [apellido], [confiable], [id_zona], [id_tamano]) VALUES (14, N'Adriana', 3409815, 3794238734, N'adriana_perez@gmail.com', N'Capital', N'Corrientes', N'Hipólito Yrigoyen', 1263, 3400, CAST(N'2025-11-01' AS Date), 1, N'MaxiKiosko AD', N'MONOTRIBUTISTA', 27340981574, N'Pérez', 1, 9, 1)
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
INSERT [dbo].[CUENTA_CORRIENTE] ([saldo_actual], [fecha_ultimo_movimiento], [id_cliente]) VALUES (CAST(46496.00 AS Decimal(10, 2)), CAST(N'2025-11-07' AS Date), 12)
INSERT [dbo].[CUENTA_CORRIENTE] ([saldo_actual], [fecha_ultimo_movimiento], [id_cliente]) VALUES (CAST(30000.00 AS Decimal(10, 2)), CAST(N'2025-11-04' AS Date), 14)
INSERT [dbo].[CUENTA_CORRIENTE] ([saldo_actual], [fecha_ultimo_movimiento], [id_cliente]) VALUES (CAST(30000.00 AS Decimal(10, 2)), CAST(N'2025-11-02' AS Date), 17)
GO
INSERT [dbo].[DETALLE_PEDIDO] ([cantidad], [descuento], [ID_detalle_pedido], [id_pedido], [id_producto], [ID_presentacion], [cantidad_bultos], [precio_unitario]) VALUES (4, CAST(0.00 AS Decimal(5, 2)), 1, 83, 3, 32, 0, CAST(1200.0 AS Decimal(8, 1)))
INSERT [dbo].[DETALLE_PEDIDO] ([cantidad], [descuento], [ID_detalle_pedido], [id_pedido], [id_producto], [ID_presentacion], [cantidad_bultos], [precio_unitario]) VALUES (5, CAST(10.00 AS Decimal(5, 2)), 1, 91, 1, 30, 0, CAST(1399.0 AS Decimal(8, 1)))
INSERT [dbo].[DETALLE_PEDIDO] ([cantidad], [descuento], [ID_detalle_pedido], [id_pedido], [id_producto], [ID_presentacion], [cantidad_bultos], [precio_unitario]) VALUES (5, CAST(20.00 AS Decimal(5, 2)), 1, 92, 1, 30, 0, CAST(1399.0 AS Decimal(8, 1)))
GO
INSERT [dbo].[Empleado] ([nombre], [apellido], [email], [direccion], [dni], [telefono], [nombre_usuario]) VALUES (N'Hugo', N'Gimenez', N'hugo_gimenez@gmail.com', N'Necochea 3270', 35879234, 3794341290, N'hugoAdministrador1')
INSERT [dbo].[Empleado] ([nombre], [apellido], [email], [direccion], [dni], [telefono], [nombre_usuario]) VALUES (N'José Leandro', N'Sánchez', N'jose_leandro@gmail.com', N'San Luis 1923', 37212897, 3794762345, N'josePreventista1')
INSERT [dbo].[Empleado] ([nombre], [apellido], [email], [direccion], [dni], [telefono], [nombre_usuario]) VALUES (N'Marcela ', N'Núñez', N'marcela_nunez@gmail.com', N'San Lorenzo  234', 40345765, 3794908767, N'marcelaProductos1')
GO
SET IDENTITY_INSERT [dbo].[entidad] ON 

INSERT [dbo].[entidad] ([entidad_id], [nombre]) VALUES (1, N'CLIENTE')
INSERT [dbo].[entidad] ([entidad_id], [nombre]) VALUES (2, N'PEDIDO')
INSERT [dbo].[entidad] ([entidad_id], [nombre]) VALUES (3, N'AUDITORIA')
SET IDENTITY_INSERT [dbo].[entidad] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADO_PEDIDO] ON 

INSERT [dbo].[ESTADO_PEDIDO] ([id_estado], [descripcion]) VALUES (1, N'Pendiente')
INSERT [dbo].[ESTADO_PEDIDO] ([id_estado], [descripcion]) VALUES (2, N'En Preparación')
INSERT [dbo].[ESTADO_PEDIDO] ([id_estado], [descripcion]) VALUES (3, N'Entregado')
SET IDENTITY_INSERT [dbo].[ESTADO_PEDIDO] OFF
GO
SET IDENTITY_INSERT [dbo].[FAMILIA] ON 

INSERT [dbo].[FAMILIA] ([id_familia], [descripcion]) VALUES (1, N'Comidas')
INSERT [dbo].[FAMILIA] ([id_familia], [descripcion]) VALUES (2, N'Bebidas')
INSERT [dbo].[FAMILIA] ([id_familia], [descripcion]) VALUES (3, N'Lácteos')
SET IDENTITY_INSERT [dbo].[FAMILIA] OFF
GO
SET IDENTITY_INSERT [dbo].[MARCA] ON 

INSERT [dbo].[MARCA] ([id_marca], [nombre]) VALUES (1, N'Victory Limpieza')
INSERT [dbo].[MARCA] ([id_marca], [nombre]) VALUES (2, N'La Serenísima')
INSERT [dbo].[MARCA] ([id_marca], [nombre]) VALUES (3, N'Borrás Distribuidora')
SET IDENTITY_INSERT [dbo].[MARCA] OFF
GO
SET IDENTITY_INSERT [dbo].[METODO_PAGO] ON 

INSERT [dbo].[METODO_PAGO] ([id_metodo], [descripcion]) VALUES (3, N'Efectivo')
INSERT [dbo].[METODO_PAGO] ([id_metodo], [descripcion]) VALUES (4, N'Transferencia Banc.')
INSERT [dbo].[METODO_PAGO] ([id_metodo], [descripcion]) VALUES (5, N'Mercado Pago')
SET IDENTITY_INSERT [dbo].[METODO_PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[PAGO] ON 

INSERT [dbo].[PAGO] ([id_pago], [monto], [fecha], [id_metodo], [id_cliente]) VALUES (15, CAST(2898.00 AS Decimal(8, 2)), CAST(N'2025-11-03' AS Date), 3, 13)
INSERT [dbo].[PAGO] ([id_pago], [monto], [fecha], [id_metodo], [id_cliente]) VALUES (16, CAST(28800.00 AS Decimal(8, 2)), CAST(N'2025-11-04' AS Date), 3, 22)
INSERT [dbo].[PAGO] ([id_pago], [monto], [fecha], [id_metodo], [id_cliente]) VALUES (17, CAST(2938.04 AS Decimal(8, 2)), CAST(N'2025-11-04' AS Date), 4, 14)
SET IDENTITY_INSERT [dbo].[PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[PEDIDO] ON 

INSERT [dbo].[PEDIDO] ([id_pedido], [fecha_creacion], [fecha_entrega], [id_cliente], [id_estado], [total], [numero_factura], [vendedor]) VALUES (82, CAST(N'2025-11-01' AS Date), CAST(N'2025-11-01' AS Date), 14, 4, CAST(4800.00 AS Decimal(8, 2)), 1, N'marcosVendedor1')
INSERT [dbo].[PEDIDO] ([id_pedido], [fecha_creacion], [fecha_entrega], [id_cliente], [id_estado], [total], [numero_factura], [vendedor]) VALUES (83, CAST(N'2025-11-01' AS Date), CAST(N'2025-11-01' AS Date), 13, 4, CAST(4800.00 AS Decimal(8, 2)), 2, N'marcosVendedor1')
INSERT [dbo].[PEDIDO] ([id_pedido], [fecha_creacion], [fecha_entrega], [id_cliente], [id_estado], [total], [numero_factura], [vendedor]) VALUES (91, CAST(N'2025-11-02' AS Date), CAST(N'2025-11-04' AS Date), 12, 4, CAST(13041.00 AS Decimal(8, 2)), 4, N'hugoAdministrador1')
SET IDENTITY_INSERT [dbo].[PEDIDO] OFF
GO
INSERT [dbo].[pedido_pago] ([id_pedido], [id_pago], [saldo]) VALUES (82, 20, CAST(0.0 AS Decimal(8, 1)))
INSERT [dbo].[pedido_pago] ([id_pedido], [id_pago], [saldo]) VALUES (83, 21, CAST(0.0 AS Decimal(8, 1)))
INSERT [dbo].[pedido_pago] ([id_pedido], [id_pago], [saldo]) VALUES (91, 22, CAST(0.0 AS Decimal(8, 1)))
GO
SET IDENTITY_INSERT [dbo].[PRESENTACION] ON 

INSERT [dbo].[PRESENTACION] ([ID_presentacion], [descripcion]) VALUES (30, N'Paquete 500g')
INSERT [dbo].[PRESENTACION] ([ID_presentacion], [descripcion]) VALUES (31, N'Paquete 1kg')
INSERT [dbo].[PRESENTACION] ([ID_presentacion], [descripcion]) VALUES (32, N'Lata 340g')
SET IDENTITY_INSERT [dbo].[PRESENTACION] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([id_producto], [nombre], [id_familia], [id_marca]) VALUES (1, N'Arroz largo fino', 1, 4)
INSERT [dbo].[PRODUCTO] ([id_producto], [nombre], [id_familia], [id_marca]) VALUES (2, N'Fideos guiseros', 1, 5)
INSERT [dbo].[PRODUCTO] ([id_producto], [nombre], [id_familia], [id_marca]) VALUES (3, N'Puré de tomate', 1, 6)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
INSERT [dbo].[producto_presentacion] ([id_producto], [ID_presentacion], [cod_producto], [precioLista], [unidades_bulto], [activo]) VALUES (1, 30, 12345678, CAST(1399.0 AS Decimal(8, 1)), 10, 1)
INSERT [dbo].[producto_presentacion] ([id_producto], [ID_presentacion], [cod_producto], [precioLista], [unidades_bulto], [activo]) VALUES (2, 30, 12345679, CAST(1499.0 AS Decimal(8, 1)), 10, 1)
INSERT [dbo].[producto_presentacion] ([id_producto], [ID_presentacion], [cod_producto], [precioLista], [unidades_bulto], [activo]) VALUES (3, 32, 12345689, CAST(1200.0 AS Decimal(8, 1)), 10, 1)
GO
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([id_proveedor], [nombre], [email], [provincia], [ciudad], [calle], [numero], [cod_postal], [cuit], [razon_social], [telefono]) VALUES (5, N'Alimenticios CABA', N'contacto@productosalimenticios.com.ar', N'Buenos Aires', N'CABA', N'Av. Rivadavia', 4521, 1406, 30711234567, N'Productos Alimenticios S.A.', 0)
INSERT [dbo].[PROVEEDOR] ([id_proveedor], [nombre], [email], [provincia], [ciudad], [calle], [numero], [cod_postal], [cuit], [razon_social], [telefono]) VALUES (6, N'Limpieza Central', N'ventas@limpiezacentral.com.ar', N'Buenos Aires', N'San Isidro', N'Av. Centenario', 1023, 1642, 30719876543, N'Limpieza Central SRL', 0)
INSERT [dbo].[PROVEEDOR] ([id_proveedor], [nombre], [email], [provincia], [ciudad], [calle], [numero], [cod_postal], [cuit], [razon_social], [telefono]) VALUES (7, N'Distribuidora Norte', N'info@distrinorte.com.ar', N'Corrientes', N'Corrientes', N'Av. Independencia', 2345, 3400, 30717654321, N'Distribuidora Norte S.R.L.', 0)
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([id_rol], [descripcion], [estado]) VALUES (5, N'Preventista', 1)
INSERT [dbo].[ROL] ([id_rol], [descripcion], [estado]) VALUES (6, N'Empleado Clientes', 1)
INSERT [dbo].[ROL] ([id_rol], [descripcion], [estado]) VALUES (7, N'Empleado Productos', 1)
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[stock] ON 

INSERT [dbo].[stock] ([stock_id], [stock_actual], [umbral_stock], [id_producto], [ID_presentacion]) VALUES (1, 1, 15, 1, 30)
INSERT [dbo].[stock] ([stock_id], [stock_actual], [umbral_stock], [id_producto], [ID_presentacion]) VALUES (2, 1, 10, 2, 30)
INSERT [dbo].[stock] ([stock_id], [stock_actual], [umbral_stock], [id_producto], [ID_presentacion]) VALUES (3, 68, 5, 3, 32)
SET IDENTITY_INSERT [dbo].[stock] OFF
GO
SET IDENTITY_INSERT [dbo].[TAMAÑO_NEGOCIO] ON 

INSERT [dbo].[TAMAÑO_NEGOCIO] ([id_tamano], [descripcion]) VALUES (1, N'PEQUEÑO')
INSERT [dbo].[TAMAÑO_NEGOCIO] ([id_tamano], [descripcion]) VALUES (2, N'MEDIANO')
INSERT [dbo].[TAMAÑO_NEGOCIO] ([id_tamano], [descripcion]) VALUES (3, N'GRANDE')
SET IDENTITY_INSERT [dbo].[TAMAÑO_NEGOCIO] OFF
GO
INSERT [dbo].[USUARIOS] ([contraseña], [estado], [id_rol], [nombre]) VALUES (N'f796d098c063edcc03fa9829817cab7eaa90f29cef97bb83d36db1750f410054', 1, 5, N'carlosPreventista1')
INSERT [dbo].[USUARIOS] ([contraseña], [estado], [id_rol], [nombre]) VALUES (N'03202ef01e1eb3fbecc7b27c9cf87afd6ee6e1fdc368e5710fbd1d3958e0b339', 1, 5, N'danielaPreventista1')
INSERT [dbo].[USUARIOS] ([contraseña], [estado], [id_rol], [nombre]) VALUES (N'99fbf90fd729ab234a5048aee98cc87a12907c95c52e1d48d670daa69599ec5b', 1, 5, N'diegoPreventista1')
GO
SET IDENTITY_INSERT [dbo].[ZONA] ON 

INSERT [dbo].[ZONA] ([id_zona], [nombre], [preventista]) VALUES (6, N'A: Camba Cuá, Pedro Ferré, La Cruz', N'danielaPreventista1')
INSERT [dbo].[ZONA] ([id_zona], [nombre], [preventista]) VALUES (7, N'B: Arazaty, San Benito, Galván', N'diegoPreventista1')
INSERT [dbo].[ZONA] ([id_zona], [nombre], [preventista]) VALUES (8, N'C: San Martín, Sur, Bancario', N'francoPreventista1')
SET IDENTITY_INSERT [dbo].[ZONA] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLIENTE__AB6E616424316102]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[CLIENTE] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__CLIENTE__B3CCB299EE6FA35F]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[CLIENTE] ADD UNIQUE NONCLUSTERED 
(
	[cuil_cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_DNI]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [UQ_DNI] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__compra__B31FA9AE987DD3C5]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[compra] ADD UNIQUE NONCLUSTERED 
(
	[nro_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_dni_empleado]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [uq_dni_empleado] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EMAIL_empleado]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [UQ_EMAIL_empleado] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_telefono]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [uq_telefono] UNIQUE NONCLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_producto_presentacion_codigo]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[producto_presentacion] ADD  CONSTRAINT [uq_producto_presentacion_codigo] UNIQUE NONCLUSTERED 
(
	[cod_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_email]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[PROVEEDOR] ADD  CONSTRAINT [UQ_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PROVEEDOR_CUIT]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[PROVEEDOR] ADD  CONSTRAINT [UQ_PROVEEDOR_CUIT] UNIQUE NONCLUSTERED 
(
	[cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_stock_producto_presentacion]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[stock] ADD  CONSTRAINT [uq_stock_producto_presentacion] UNIQUE NONCLUSTERED 
(
	[id_producto] ASC,
	[ID_presentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_zona_preventista]    Script Date: 10/11/2025 22:21:55 ******/
ALTER TABLE [dbo].[ZONA] ADD  CONSTRAINT [uq_zona_preventista] UNIQUE NONCLUSTERED 
(
	[preventista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[compra] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[pedido_pago] ADD  DEFAULT ((0)) FOR [saldo]
GO
ALTER TABLE [dbo].[PROVEEDOR] ADD  CONSTRAINT [DF_PROVEEDOR_TELEFONO]  DEFAULT ((0)) FOR [telefono]
GO
ALTER TABLE [dbo].[stock] ADD  DEFAULT ((0)) FOR [stock_actual]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [fk_auditoria_entidad] FOREIGN KEY([entidad_id])
REFERENCES [dbo].[entidad] ([entidad_id])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [fk_auditoria_entidad]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [fk_auditoria_usuario] FOREIGN KEY([usuario])
REFERENCES [dbo].[USUARIOS] ([nombre])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [fk_auditoria_usuario]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [FK_ID_ACCION] FOREIGN KEY([ID_accion])
REFERENCES [dbo].[ACCION] ([ID_accion])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [FK_ID_ACCION]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [fk_cliente_zona] FOREIGN KEY([id_zona])
REFERENCES [dbo].[ZONA] ([id_zona])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [fk_cliente_zona]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ID_TAMANO] FOREIGN KEY([id_tamano])
REFERENCES [dbo].[TAMAÑO_NEGOCIO] ([id_tamano])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_ID_TAMANO]
GO
ALTER TABLE [dbo].[compra]  WITH CHECK ADD  CONSTRAINT [fk_compra_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[PROVEEDOR] ([id_proveedor])
GO
ALTER TABLE [dbo].[compra] CHECK CONSTRAINT [fk_compra_proveedor]
GO
ALTER TABLE [dbo].[CUENTA_CORRIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ID_CLIENTE_cuenta] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[CUENTA_CORRIENTE] CHECK CONSTRAINT [FK_ID_CLIENTE_cuenta]
GO
ALTER TABLE [dbo].[detalle_compra]  WITH CHECK ADD  CONSTRAINT [fk_detalle_compra] FOREIGN KEY([compra_id])
REFERENCES [dbo].[compra] ([compra_id])
GO
ALTER TABLE [dbo].[detalle_compra] CHECK CONSTRAINT [fk_detalle_compra]
GO
ALTER TABLE [dbo].[detalle_compra]  WITH CHECK ADD  CONSTRAINT [fk_detalle_producto_presentacion] FOREIGN KEY([id_producto], [ID_presentacion])
REFERENCES [dbo].[producto_presentacion] ([id_producto], [ID_presentacion])
GO
ALTER TABLE [dbo].[detalle_compra] CHECK CONSTRAINT [fk_detalle_producto_presentacion]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_producto] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[PEDIDO] ([id_pedido])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_producto]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_PRESENTACION] FOREIGN KEY([id_producto], [ID_presentacion])
REFERENCES [dbo].[producto_presentacion] ([id_producto], [ID_presentacion])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_PRODUCTO_PRESENTACION]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [fk_nombre_usuario] FOREIGN KEY([nombre_usuario])
REFERENCES [dbo].[USUARIOS] ([nombre])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [fk_nombre_usuario]
GO
ALTER TABLE [dbo].[marca_proveedor]  WITH CHECK ADD  CONSTRAINT [FK_id_marca] FOREIGN KEY([id_marca])
REFERENCES [dbo].[MARCA] ([id_marca])
GO
ALTER TABLE [dbo].[marca_proveedor] CHECK CONSTRAINT [FK_id_marca]
GO
ALTER TABLE [dbo].[marca_proveedor]  WITH CHECK ADD  CONSTRAINT [FK_id_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[PROVEEDOR] ([id_proveedor])
GO
ALTER TABLE [dbo].[marca_proveedor] CHECK CONSTRAINT [FK_id_proveedor]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [fk_id_cliente_pago] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [fk_id_cliente_pago]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_ID_METODO] FOREIGN KEY([id_metodo])
REFERENCES [dbo].[METODO_PAGO] ([id_metodo])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_ID_METODO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_ID_CLIENTE]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_ESTADO_pedido] FOREIGN KEY([id_estado])
REFERENCES [dbo].[ESTADO_PEDIDO] ([id_estado])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_ID_ESTADO_pedido]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [fk_pedido_vendedor] FOREIGN KEY([vendedor])
REFERENCES [dbo].[Empleado] ([nombre_usuario])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [fk_pedido_vendedor]
GO
ALTER TABLE [dbo].[pedido_pago]  WITH CHECK ADD  CONSTRAINT [FK_PAGO] FOREIGN KEY([id_pago])
REFERENCES [dbo].[PAGO] ([id_pago])
GO
ALTER TABLE [dbo].[pedido_pago] CHECK CONSTRAINT [FK_PAGO]
GO
ALTER TABLE [dbo].[pedido_pago]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[PEDIDO] ([id_pedido])
GO
ALTER TABLE [dbo].[pedido_pago] CHECK CONSTRAINT [FK_PEDIDO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ID_FAMILIA] FOREIGN KEY([id_familia])
REFERENCES [dbo].[FAMILIA] ([id_familia])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_ID_FAMILIA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ID_marca_producto] FOREIGN KEY([id_marca])
REFERENCES [dbo].[MARCA] ([id_marca])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_ID_marca_producto]
GO
ALTER TABLE [dbo].[producto_presentacion]  WITH CHECK ADD  CONSTRAINT [FK_PRESENTACION] FOREIGN KEY([ID_presentacion])
REFERENCES [dbo].[PRESENTACION] ([ID_presentacion])
GO
ALTER TABLE [dbo].[producto_presentacion] CHECK CONSTRAINT [FK_PRESENTACION]
GO
ALTER TABLE [dbo].[producto_presentacion]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO] FOREIGN KEY([id_producto])
REFERENCES [dbo].[PRODUCTO] ([id_producto])
GO
ALTER TABLE [dbo].[producto_presentacion] CHECK CONSTRAINT [FK_PRODUCTO]
GO
ALTER TABLE [dbo].[stock]  WITH CHECK ADD  CONSTRAINT [fk_stock_producto_presentacion] FOREIGN KEY([id_producto], [ID_presentacion])
REFERENCES [dbo].[producto_presentacion] ([id_producto], [ID_presentacion])
GO
ALTER TABLE [dbo].[stock] CHECK CONSTRAINT [fk_stock_producto_presentacion]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_id_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROL] ([id_rol])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_id_rol]
GO
ALTER TABLE [dbo].[ZONA]  WITH CHECK ADD  CONSTRAINT [fk_zona_preventista] FOREIGN KEY([preventista])
REFERENCES [dbo].[USUARIOS] ([nombre])
GO
ALTER TABLE [dbo].[ZONA] CHECK CONSTRAINT [fk_zona_preventista]
GO
ALTER TABLE [dbo].[CUENTA_CORRIENTE]  WITH CHECK ADD  CONSTRAINT [CK_CUENTA_CORRIENTE_SALDO_ACTUAL] CHECK  (([saldo_actual]>=(0)))
GO
ALTER TABLE [dbo].[CUENTA_CORRIENTE] CHECK CONSTRAINT [CK_CUENTA_CORRIENTE_SALDO_ACTUAL]
GO
ALTER TABLE [dbo].[detalle_compra]  WITH CHECK ADD CHECK  (([cantidad_bulto]>(0)))
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD CHECK  (([precio_unitario]>(0)))
GO
ALTER TABLE [dbo].[producto_presentacion]  WITH CHECK ADD  CONSTRAINT [ck_producto_presentacion_precioLista] CHECK  (([precioLista]>(0)))
GO
ALTER TABLE [dbo].[producto_presentacion] CHECK CONSTRAINT [ck_producto_presentacion_precioLista]
GO
ALTER TABLE [dbo].[producto_presentacion]  WITH CHECK ADD  CONSTRAINT [ck_producto_presentacion_unidades_bulto] CHECK  (([unidades_bulto]>(0)))
GO
ALTER TABLE [dbo].[producto_presentacion] CHECK CONSTRAINT [ck_producto_presentacion_unidades_bulto]
GO
ALTER TABLE [dbo].[stock]  WITH CHECK ADD  CONSTRAINT [ck_stock_minimo] CHECK  (([stock_actual]>=(0)))
GO
ALTER TABLE [dbo].[stock] CHECK CONSTRAINT [ck_stock_minimo]
GO
